  <div class="user-view">
    <div class="user-container">
  <header class="navbar">
    <div class="logo">TechPortal 20</div>
    <div class="nav-right">
      <span class="user-name">
        Bienvenido, <strong>{{ auth.getUsername() }}</strong></span>

      <button class="btn-logout" (click)="logout()">
      Cerrar Sesión</button>
    </div>
  </header>

  <p class="subtitle">
    Lo último en Innovación: Explorando la frontera de la IA,
    Angular y el Hardware Cuántico.
  </p>

  <!-- HERO -->
  <div class="hero-card" *ngIf="principal()">
  <div class="card-meta">{{ principal().tag }} · {{ principal().fecha | date:'dd MMM yyyy' }}</div>
  <h1>{{ principal().titulo }}</h1>
  <p>{{ principal().descripcion }}</p> 
</div>

  <!-- NOTICIAS -->
 <h2>Últimas Noticias</h2>
   <div class="news-grid">
  <div class="mini-card" *ngFor="let item of secundarias()">
    <div class="card-meta">{{ item.tag }}</div>
    <h3>{{ item.titulo }}</h3>
    <p>{{ item.descripcion }}</p> 
  </div>
</div>

  <!-- VIDEOS -->
  <h2>Videos Destacados</h2>

  <div class="video-grid">

   <div class="video-card">
    <iframe 
      src="https://www.youtube.com/embed/JhHMJCUmq28"
      title="Quantum Computing"
      frameborder="0"
      allowfullscreen>
    </iframe>
    <h3>Introducción a la Computación Cuántica</h3>
  </div>

  <div class="video-card">
    <iframe 
      src="https://www.youtube.com/embed/GwIo3gDZCVQ"
      title="Machine Learning"
      frameborder="0"
      allowfullscreen>
    </iframe>
    <h3>Machine Learning en 10 minutos</h3>
  </div>

  <div class="video-card">
    <iframe 
      src="https://www.youtube.com/embed/M988_fsOSWo"
      title="Cloud Computing"
      frameborder="0"
      allowfullscreen>
    </iframe>
    <h3>Cloud Computing & Edge AI</h3>
  </div>

  <div class="video-card">
    <iframe 
      src="https://www.youtube.com/embed/-e1_QhJ1EhQ"
      title="Robotics"
      frameborder="0"
      allowfullscreen>
    </iframe>
    <h3>Robots Autónomos Avanzados</h3>
  </div>

  <!-- NEWSLETTER -->
 <div class="newsletter-banner">
<h2>Newsletter Ejecutiva</h2>
<p>Recibe análisis estratégicos cada semana</p>
<div class="newsletter-form">
<input type="email" [(ngModel)]="emailNewsletter" placeholder="Tu correo @gmail.com" class="newsletter-input">
<button (click)="suscribir()" class="newsletter-btn">Suscribirse</button>
</div>
</div>

  <footer class="footer">
    <p>&copy; 2024 TechPortal 20. Todos los derechos reservados.</p>
  </footer>

    