/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #00d4ff;
  --dark: #121212;
  --bg-card: #1e1e1e;
  --text: #ffffff;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--dark);
  color: var(--text);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}